{% extends "library/user.html" %} 
{% block title %} Lend Book {% endblock %} {% block content %}

<div class="create-book-area">
    <form method="get" action="{% url 'borrowing_sucessfull' books.id %}">
        <input class="button" value="Borrow Book" type="submit" >
    </form>
</div> 

<div class="content-area">
    <div class="bookarea">
        <div class="picture_area">
            {% for pics in photos %}

            <img class="books-images" src="{{pics.photos.url}}" height="378px" width="322px"> 

            {%endfor%}
        </div>
        <div class="text_areas">
            <table>
                <tr>
                    <td> Title: </td>
                    <td> {{books.title}} </td>
                </tr>
                <tr>
                    <td> Author: </td>
                    {%for author in books.author.all%}
                        <td> {{author.first_name}} {{author.last_name}} </td>
                    {%endfor%}
                </tr>
                <tr>
                    <td> Publication Date: </td>
                    <td> {{books.publication_date}} </td>
                </tr>
                <tr>
                    <td> Rating: </td>
                    <td> {{books.rating}} </td>
                </tr>
                <tr>
                    <td> Book Count: </td>
                    <td> {{books.book_count}} </td>
                </tr>
                <tr>
                    <td> Description: </td>
                    <td> {{books.description}} </td>
                </tr>
            </table>
        </div>
    </div>
             <div class="page_title">
            <div class="pagination">
               <span class="step-links">
               {% if books_info.has_previous %}
                   <a href="?page={{ books_info.previous_page_number }}">previous</a>
               {% endif %}

               <span class="current">
                     Page {{ books_info.number }} of {{ books_info.paginator.num_pages }}.
               </span>

               {% if books_info.has_next %}
                     <a href="?page={{ books_info.next_page_number }}">next</a>
               {% endif %}
               </span>
           </div>
       </div>

</div>
{% endblock %}